<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.codeworld.fc.store.mapper.StoreMapper">

    <resultMap id="BaseStoreMap" type="com.codeworld.fc.store.entity.Store">

        <id property="id" column="t_store_id"/>
        <result property="name" column="t_store_name"/>
        <result property="status" column="t_store_status"/>
        <result property="createTime" column="t_store_create_time"/>
        <result property="updateTime" column="t_store_update_time"/>
        <result property="merchantNumber" column="t_merchant_number"/>
    </resultMap>

    <!-- 查询商户下的店铺列表 -->
    <select id="getMerchantStoreByPage" parameterType="com.codeworld.fc.store.request.StoreSearchRequest" resultType="com.codeworld.fc.store.response.StorePageResponse">
        select
        t_store_id AS id,
        t_store_name AS name,
        t_store_status AS status,
        t_store_create_time AS createTime,
        t_store_update_time AS updateTime
        from
        codeworld_store AS cs
        where
        cs.t_merchant_number = #{merchantNumber}
    </select>
</mapper>
