<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.codeworld.fc.logistics.mapper.LogisticsMapper">

    <!-- 物流MQ监听发货（自动更新）-->
    <insert id="logisticsDelivery" parameterType="com.codeworld.fc.logistics.entity.Logistics">

        insert into
        codeworld_logistics
        (
        t_logistics_id,
        t_logistics_delivery_number,
        t_logistics_order_id,
        t_logistics_arrive_time,
        t_logistics_content,
        t_logistics_delivery_sn,
        t_logistics_operation_id,
        t_logistics_operation_name
        )
        values(
        #{id},
        #{deliveryNumber},
        #{orderId},
        #{arriveTime},
        #{content},
        #{deliverySn},
        #{operationId},
        #{operationName}
        )
    </insert>

    <!-- 根据订单编号和物流单号查询物流信息 -->
    <select id="getLogisticsByDeliveruNumberAndOrderId" resultType="com.codeworld.fc.logistics.entity.Logistics" parameterType="com.codeworld.fc.logistics.request.LogisticsSelectRequest">
        select
        t_logistics_id AS id,
        t_logistics_delivery_number AS deliveryNumber,
        t_logistics_order_id AS  orderId,
        t_logistics_arrive_time AS arriveTime,
        t_logistics_content AS content,
        t_logistics_delivery_sn AS deliverySn
        from
        codeworld_logistics
        where
        t_logistics_delivery_number = #{deliveryNumber}
        and
        t_logistics_order_id = #{orderId}
        order by
        t_logistics_arrive_time DESC
    </select>
</mapper>
