server:
  port: 7001
spring:
  application:
    name: codeworld-cloud-search
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        weight: 1
        register-enabled: true
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 192.168.2.7:9300
  main:
    allow-bean-definition-overriding: true
feign:
  hystrix:
    enabled: true
ribbon:
  ReadTimeOut: 5000
  ConnectTimeOut: 5000


#hystrix:
#  command:
#    default:
#      execution:
#        isolation:
#          thread:
#            timeoutInMilliseconds: 3000
#      circuitBreaker:
#        requestVolumeThreshold: 3
#        sleepWindowInMilliseconds: 8000
codeworld:
  jwt:
    secret: codeworld@Login(Auth}*^31)&codeworld% # 用于生存rsa公钥和私钥的密文,越复杂越好
    pubKeyPath: D:\\temp\\rsa\\rsa.pub # 公钥地址
    priKeyPath: D:\\temp\\rsa\\rsa.pri # 私钥地址
    expire: 30   # 过期时间,单位分钟
    cookieMaxAge: 1800
    cookieName: token
